In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

tag_headers = ['user_id', 'movie_id', 'tag', 'timestamp']
tags = pd.read_table('C:/Users/Fizik/Downloads/coursera/nir/nir/movielens/tags.dat', sep='::', header=None, names=tag_headers)

rating_headers = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('C:/Users/Fizik/Downloads/coursera/nir/nir/movielens/ratings.dat', sep='::', header=None, names=rating_headers)

movie_headers = ['movie_id', 'title', 'genres']
movies = pd.read_table('C:/Users/Fizik/Downloads/coursera/nir/nir/movielens/movies.dat',
                       sep='::', header=None, names=movie_headers)
movie_titles = movies.title.tolist()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:13: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.

In [2]:
movies.head()

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1       122     5.0  838985046
1        1       185     5.0  838983525
2        1       231     5.0  838983392
3        1       292     5.0  838983421
4        1       316     5.0  838983392

In [4]:
df = movies.join(ratings, on=['movie_id'], rsuffix='_r').join(tags, on=['movie_id'], rsuffix='_t')
del df['movie_id_r']
del df['user_id_t']
del df['movie_id_t']
del df['timestamp_t']

In [5]:
df.head()

,movie_id,title,genres,user_id,rating,timestamp,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,5.0,838983525,politics
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,5.0,838983392,satire
2,3,Grumpier Old Men (1995),Comedy|Romance,1,5.0,838983421,chick flick 212
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1,5.0,838983392,hanks
4,5,Father of the Bride Part II (1995),Comedy,1,5.0,838983392,ryan

In [6]:
df['tag']

0                                           politics
1                                             satire
2                                    chick flick 212
3                                              hanks
4                                               ryan
5                                             action
6                                               bond
7                                              spoof
8                                          star wars
9                                             bloody
10                                           kung fu
11                                         Tarantino
12                                                 R
13                                             NC-17
14                                      Kevin Spacey
15                                       Johnny Depp
16                                      buddy comedy
17                              strangely compelling
18                                       catastrophe
19                                              Epic
20                                 comedy of manners
21                                 product placement
22                                           classic
23                                              goth
24                                             woman
25                                           classic
26                                          computer
27                        Why the terrorists hate us
28             The Director Should be given a grammy
29                                     Ralph Fiennes
                            ...
10651                                      cult film
10652                         Lovecraftian mythology
10653                                    cannibalism
10654                                 sword fighting
10655                              private detective
10656                                   mockumentary
10657                                         remake
10658    easily confused with other movie(s) (title)
10659                                       suburbia
10660                                         aliens
10661                           blunt existentialism
10662    easily confused with other movie(s) (title)
10663                                         boxing
10664                                         remade
10665                                        slasher
10666                                 creepy singing
10667                                       Al Leong
10668                                        samurai
10669                                       suburbia
10670                                       dystopia
10671                                    no dialogue
10672                                         remake
10673    easily confused with other movie(s) (title)
10674                                    Santa Claus
10675                                         remade
10676                                       suburbia
10677                                 sword fighting
10678                                    dark comedy
10679                                         heroin
10680                                        college
Name: tag, dtype: object

In [7]:
import nltk
from nltk.corpus import stopwords
def text_to_wordlist(text, remove_stopwords=False):
    text = re.sub("[^a-zA-Z]", " ", text)
    words = text.lower().split()
    # Optionally remove stop words (false by default)
    if remove_stopwords:
        stops = set(stopwords.words("english"))
        words = [w for w in words if not w in stops]
    # 5. Return a list of words
    return words

In [8]:
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd
example1 = BeautifulSoup(df['tag'][0])

C:\Anaconda2\lib\site-packages\bs4\__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [9]:
print example1.get_text()

politics

In [10]:
def review_to_words(raw_review):
    # Function to convert a raw review to a string of words
    # The input is a single string (a raw movie review), and
    # the output is a single string (a preprocessed movie review)
    #
    # 1. Remove HTML
    
        
    review_text = raw_review
    #
    # 2. Remove non-letters
    letters_only = re.sub("[^a-zA-Z]", " ", review_text)
    #
    # 3. Convert to lower case, split into individual words
    words = letters_only.lower().split()
    #
    # 4. In Python, searching a set is much faster than searching
    #   a list, so convert the stop words to a set
    stops = set(stopwords.words("english"))
    #
    # 5. Remove stop words
    meaningful_words = [w for w in words if not w in stops]
    #
    # 6. Join the words back into one string separated by space,
    # and return the result.
    return " ".join( meaningful_words )

In [11]:
clean_review = review_to_words( df['tag'][0] )
print clean_review

politics

In [ ]:
num_reviews = df['tag'].size
clean_train_reviews = []
for i in df['tag']:
    # Call our function for each one, and add the result to the list of
    # clean reviews
     if( (i+1)%10000 == 0 ):
        print "Review %d of %d\n" % ( i+1, num_reviews )  
    if i and type(i) != float:
        clean_train_reviews.append( review_to_words( i ) )

In [60]:
re.sub("[^a-zA-Z]", " ", 'johnny depp').lower().split()

['johnny', 'depp']

In [12]:
rp = df.pivot_table(columns=['movie_id'], index=['user_id'],values='rating')
rp.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,65006,65011,65025,65027,65037,65088,65091,65126,65130,65133
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
rp = rp.fillna(0); # Replace NaN
rp.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,65006,65011,65025,65027,65037,65088,65091,65126,65130,65133
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
Q = rp.values

In [15]:
Q.shape

(303L, 10681L)

In [16]:
W = Q>0.5
W[W == True] = 1
W[W == False] = 0
# To be consistent with our Q matrix
W = W.astype(np.float64, copy=False)

In [17]:
lambda_ = 0.1
n_factors = 100
m, n = Q.shape
n_iterations = 101

In [18]:
X = 5 * np.random.rand(m, n_factors) 
Y = 5 * np.random.rand(n_factors, n)
def get_error(Q, X, Y, W):
    return np.sum((W * (Q - np.dot(X, Y)))**2)

In [19]:
print X.shape
print Y.shape

(303L, 100L)
(100L, 10681L)

In [26]:
errors = []
import time
start_time = time.time()
for ii in xrange(n_iterations):
    X = np.linalg.solve(np.dot(Y, Y.T) + lambda_ * np.eye(n_factors), 
                        np.dot(Y, Q.T)).T
    Y = np.linalg.solve(np.dot(X.T, X) + lambda_ * np.eye(n_factors),
                        np.dot(X.T, Q))
    if ii % 100 == 0:
        print('{}th iteration is completed'.format(ii))
    errors.append(get_error(Q, X, Y, W))
Q_hat = np.dot(X, Y)
print 'time is ', time.time() -  start_time
print('Error of rated movies: {}'.format(get_error(Q, X, Y, W)))

0th iteration is completed
100th iteration is completed
time is  32.614000082
Error of rated movies: 15886.7321974